{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1>Todos los Huéspedes</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Hotel</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.guest_id }}</td>
            <td>{{ guest.first_name }}</td>
            <td>{{ guest.last_name }}</td>
            <td>{{ guest.email }}</td>
            <td>{{ guest.phone_number }}</td>
            <td>{{ guest.hotel.name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No hay huéspedes registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}